<input #task placeholder="Tasks" />
<button (click)="addTask(task)">Add Todo Task </button>
<button (click)="addExtended(task)">Add Extended </button>

<ul>
    <li *ngFor="let task of tasks" 
        (click)="selectedItem(task)"
    >
    <div *ngIf="task.type == 'NORMAL'">
      <label>{{task.payload}}</label>     
    </div>
    <div *ngIf="task.type == 'EXTENDED'">
      <label>{{task.payload.value}}</label>
    </div>  
    </li>
</ul>


<!--
<div *ngIf="(selectedItem$ | async)?.type == 'NORMAL'">
      Value : {{ (selectedItem$ | async)?.payload}} <br>
      Type  : {{ (selectedItem$ | async)?.type}}
</div>
<div *ngIf="(selectedItem$ | async)?.type == 'EXTENDED'">
      Value : {{ (selectedItem$ | async)?.payload.value}} <br>
      Title : {{ (selectedItem$ | async)?.payload.title}} <br>
      Type  : {{ (selectedItem$ | async)?.type}}
</div>-->

<div *ngIf="selectedItem$ | async; let selected; else loading">
    <div *ngIf="selected.type == 'NORMAL'">
        Value : {{ selected.payload}} <br>
        Type  : {{ selected.type}}
    </div>
    <div *ngIf="selected.type == 'EXTENDED'">
        Value : {{ selected.payload.value}} <br>
        Title : {{ selected.payload.title}} <br>
        Type  : {{ selected.type}}
    </div>
</div>    